# binary label 기준 나눠서 돌리기

- inference 가장 높은 결과 데이터 0.0~5.0 스케일링
- 1.0, 0.0 test 데이터 분리
- 0~2.4 2.5~5.0 나눠서 snunlp/KR-ELECTRA-discriminator batch 16, 3e-5
- test 데이터 나눠서 돌리기

In [5]:
import pandas as pd
from matplotlib import pyplot as plt

from tqdm import tqdm
from transformers import AutoTokenizer

/opt/conda/envs/sts/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
import os
os.chdir("/opt/ml")

In [8]:
df1

                              id  target
0      boostcamp-sts-v1-test-000     3.3
1      boostcamp-sts-v1-test-001     4.4
2      boostcamp-sts-v1-test-002     1.0
3      boostcamp-sts-v1-test-003     0.1
4      boostcamp-sts-v1-test-004     3.5
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.2
1096  boostcamp-sts-v1-test-1096     4.0
1097  boostcamp-sts-v1-test-1097     3.5
1098  boostcamp-sts-v1-test-1098     3.6
1099  boostcamp-sts-v1-test-1099     5.1

[1100 rows x 2 columns]

In [9]:
df2

                              id  target
0      boostcamp-sts-v1-test-000     3.5
1      boostcamp-sts-v1-test-001     4.6
2      boostcamp-sts-v1-test-002     1.5
3      boostcamp-sts-v1-test-003    -0.0
4      boostcamp-sts-v1-test-004     3.9
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.5
1096  boostcamp-sts-v1-test-1096     4.1
1097  boostcamp-sts-v1-test-1097     3.9
1098  boostcamp-sts-v1-test-1098     3.9
1099  boostcamp-sts-v1-test-1099     4.8

[1100 rows x 2 columns]

In [10]:
df3

                              id  target
0      boostcamp-sts-v1-test-000     2.4
1      boostcamp-sts-v1-test-001     4.6
2      boostcamp-sts-v1-test-002     1.5
3      boostcamp-sts-v1-test-003     0.0
4      boostcamp-sts-v1-test-004     4.1
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.6
1096  boostcamp-sts-v1-test-1096     4.3
1097  boostcamp-sts-v1-test-1097     3.8
1098  boostcamp-sts-v1-test-1098     3.9
1099  boostcamp-sts-v1-test-1099     4.6

[1100 rows x 2 columns]

In [11]:
df3.max()

id        boostcamp-sts-v1-test-999
target                          5.2
dtype: object

In [7]:
df1 = pd.read_csv('result/output_electra_9167.csv')
df2 = pd.read_csv('result/output_snuelectra_9154.csv')
df3 = pd.read_csv('result/output_11011311_9134.csv')
df1.head()

                          id  target
0  boostcamp-sts-v1-test-000     3.3
1  boostcamp-sts-v1-test-001     4.4
2  boostcamp-sts-v1-test-002     1.0
3  boostcamp-sts-v1-test-003     0.1
4  boostcamp-sts-v1-test-004     3.5

In [4]:
df1.loc[df1['target'] >=2.5, 'binary']  = 1.0
df1.loc[df1['target'] < 2.5, 'binary']  = 0.0
df2.loc[df2['target'] >=2.5, 'binary']  = 1.0
df2.loc[df2['target'] < 2.5, 'binary']  = 0.0
df3.loc[df3['target'] >=2.5, 'binary']  = 1.0
df3.loc[df3['target'] < 2.5, 'binary']  = 0.0

In [47]:
df4 = pd.read_csv('result/output_r_large_0.9232.csv')
df4.loc[df4['target'] >=2.5, 'binary']  = 1.0
df4.loc[df4['target'] < 2.5, 'binary']  = 0.0

In [52]:
df4['target'] = (df4['target'] - df4['target'].min()) / (df4['target'].max() - df4['target'].min())

In [48]:
df1.describe()

            target       binary
count  1100.000000  1100.000000
mean      0.516566     0.511818
std       0.277488     0.500088
min       0.000000     0.000000
25%       0.296296     0.000000
50%       0.500000     1.000000
75%       0.740741     1.000000
max       1.000000     1.000000

In [49]:
df2.describe()

            target       binary
count  1100.000000  1100.000000
mean      0.525943     0.542727
std       0.287188     0.498398
min       0.000000     0.000000
25%       0.277778     0.000000
50%       0.537037     1.000000
75%       0.777778     1.000000
max       1.000000     1.000000

In [50]:
df3.describe()

            target       binary
count  1100.000000  1100.000000
mean      0.555626     0.579091
std       0.279500     0.493930
min       0.000000     0.000000
25%       0.320755     0.000000
50%       0.584906     1.000000
75%       0.792453     1.000000
max       1.000000     1.000000

In [53]:
df4.describe()

            target       binary
count  1100.000000  1100.000000
mean      0.546913     0.578182
std       0.284790     0.494074
min       0.000000     0.000000
25%       0.301887     0.000000
50%       0.547170     1.000000
75%       0.792453     1.000000
max       1.000000     1.000000

In [ ]:
corr_with_d = lambda x: x.corrwith(x['d'])

grouped = df.groupby('group')

grouped.apply(corr_with_d)

In [55]:
corr_a_d = lambda df4: df4['target'].corr(df3['target'])
grouped = df4.groupby('id')
pd.DataFrame(grouped.apply(corr_a_d))

/opt/conda/envs/sts/lib/python3.7/site-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/opt/conda/envs/sts/lib/python3.7/site-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                            0
id
boostcamp-sts-v1-test-000 NaN
boostcamp-sts-v1-test-001 NaN
boostcamp-sts-v1-test-002 NaN
boostcamp-sts-v1-test-003 NaN
boostcamp-sts-v1-test-004 NaN
...                        ..
boostcamp-sts-v1-test-995 NaN
boostcamp-sts-v1-test-996 NaN
boostcamp-sts-v1-test-997 NaN
boostcamp-sts-v1-test-998 NaN
boostcamp-sts-v1-test-999 NaN

[1100 rows x 1 columns]

In [5]:
con_df = pd.DataFrame({'1': df1['binary'], 
                       '2': df2['binary'],
                       '3': df3['binary']})

con_df['result'] = (con_df['1'] == con_df['2']) & (con_df['1'] == con_df['3']) & (con_df['2'] == con_df['3'])
con_df

      first  second  third  result
0       1.0     1.0    0.0   False
1       1.0     1.0    1.0    True
2       0.0     0.0    0.0    True
3       0.0     0.0    0.0    True
4       1.0     1.0    1.0    True
...     ...     ...    ...     ...
1095    0.0     0.0    0.0    True
1096    1.0     1.0    1.0    True
1097    1.0     1.0    1.0    True
1098    1.0     1.0    1.0    True
1099    1.0     1.0    1.0    True

[1100 rows x 4 columns]

In [8]:
con_df[con_df['result'] == False]

      first  second  third  result
0       1.0     1.0    0.0   False
11      0.0     0.0    1.0   False
13      0.0     0.0    1.0   False
21      0.0     1.0    1.0   False
25      0.0     0.0    1.0   False
...     ...     ...    ...     ...
1008    0.0     1.0    1.0   False
1066    1.0     0.0    1.0   False
1075    0.0     0.0    1.0   False
1082    1.0     0.0    0.0   False
1092    0.0     1.0    0.0   False

[119 rows x 4 columns]

In [16]:
df1['target'] = (df1['target'] - df1['target'].min()) / (df1['target'].max() - df1['target'].min())

In [17]:
df1

                              id    target
0      boostcamp-sts-v1-test-000  0.629630
1      boostcamp-sts-v1-test-001  0.833333
2      boostcamp-sts-v1-test-002  0.203704
3      boostcamp-sts-v1-test-003  0.037037
4      boostcamp-sts-v1-test-004  0.666667
...                          ...       ...
1095  boostcamp-sts-v1-test-1095  0.240741
1096  boostcamp-sts-v1-test-1096  0.759259
1097  boostcamp-sts-v1-test-1097  0.666667
1098  boostcamp-sts-v1-test-1098  0.685185
1099  boostcamp-sts-v1-test-1099  0.962963

[1100 rows x 2 columns]

In [18]:
df1['target'].max()

1.0

In [19]:
df1['target'].min()

0.0

In [32]:
df2['target'] = (df2['target'] - df2['target'].min()) / (df2['target'].max() - df2['target'].min())
df3['target'] = (df3['target'] - df3['target'].min()) / (df3['target'].max() - df3['target'].min())

In [36]:
df1.loc[df1['target'] >=0.5, 'binary']  = 1.0
df1.loc[df1['target'] < 0.5, 'binary']  = 0.0
df2.loc[df2['target'] >=0.5, 'binary']  = 1.0
df2.loc[df2['target'] < 0.5, 'binary']  = 0.0
df3.loc[df3['target'] >=0.5, 'binary']  = 1.0
df3.loc[df3['target'] < 0.5, 'binary']  = 0.0

In [37]:
con_df = pd.DataFrame({'first': df1['binary'], 
                       'second': df2['binary'],
                       'third': df3['binary']})

con_df['result'] = (con_df['first'] == con_df['second']) & (con_df['first'] == con_df['third']) & (con_df['second'] == con_df['third'])
con_df

      first  second  third  result
0       1.0     1.0    0.0   False
1       1.0     1.0    1.0    True
2       0.0     0.0    0.0    True
3       0.0     0.0    0.0    True
4       1.0     1.0    1.0    True
...     ...     ...    ...     ...
1095    0.0     0.0    0.0    True
1096    1.0     1.0    1.0    True
1097    1.0     1.0    1.0    True
1098    1.0     1.0    1.0    True
1099    1.0     1.0    1.0    True

[1100 rows x 4 columns]

In [38]:
con_df[con_df['result'] == False]

      first  second  third  result
0       1.0     1.0    0.0   False
11      0.0     0.0    1.0   False
12      0.0     1.0    1.0   False
21      0.0     1.0    1.0   False
39      0.0     1.0    1.0   False
...     ...     ...    ...     ...
1008    0.0     0.0    1.0   False
1066    1.0     0.0    1.0   False
1075    0.0     0.0    1.0   False
1082    1.0     0.0    0.0   False
1092    0.0     1.0    0.0   False

[121 rows x 4 columns]

## train,dev 입력 데이터 분리

In [21]:
train = pd.read_csv('data/train.csv')
dev = pd.read_csv('data/dev.csv')

In [26]:
train_zero = train[train['binary-label']==0.0]
train_zero

,id,source,sentence_1,sentence_2,label,binary-label
0,boostcamp-sts-v1-train-000,nsmc-sampled,스릴도있고 반전도 있고 여느 한국영화 쓰레기들하고는 차원이 다르네요~,"반전도 있고,사랑도 있고재미도있네요.",2.2,0.0
2,boostcamp-sts-v1-train-002,petition-sampled,주택청약조건 변경해주세요.,주택청약 무주택기준 변경해주세요.,2.4,0.0
4,boostcamp-sts-v1-train-004,slack-sampled,뿌듯뿌듯 하네요!!,꼬옥 실제로 한번 뵈어요 뿌뿌뿌~!~!,0.0,0.0
7,boostcamp-sts-v1-train-007,nsmc-sampled,이렇게 귀여운 쥐들은 처음이네요.ㅎㅎㅎ,이렇게 지겨운 공포영화는 처음..,0.6,0.0
8,boostcamp-sts-v1-train-008,petition-sampled,미세먼지 해결이 가장 시급한 문제입니다!,가장 시급한 것이 신생아실 관리입니다!!!,0.4,0.0
...,...,...,...,...,...,...
9316,boostcamp-sts-v1-train-9316,slack-sampled,어쩌다 보니 사람 들어간 사진은 못찍었는데 너무 맛있었고 재밌었습니다!!,너무 맛있어서 또 가고싶은집!!,1.6,0.0
9317,boostcamp-sts-v1-train-9317,petition-sampled,동물보호법을 강화해 주세요,동물원법을 강화시켜 주세요,1.5,0.0
9319,boostcamp-sts-v1-train-9319,petition-sampled,교원능력개발평가에서 교원이 보호받을 수 있는 장치를 마련해야합니다,본인이 납부한 국민연금 금액을 기준으로 대출을 받을 수 있는 제도를 마련해 주세요,0.2,0.0
9321,boostcamp-sts-v1-train-9321,petition-sampled,국회의원들 월급좀 줄여주세요,공무원 봉급좀 줄이지좀 마세요,0.6,0.0
9323,boostcamp-sts-v1-train-9323,petition-sampled,법정공휴일 휴무관련 (근로자),법정공휴일의 유급휴무화를 막아야 합니다.,1.4,0.0

In [41]:
tmp = train_zero[['id', 'source', 'sentence_2', 'sentence_1', 'label', 'binary-label']].rename(columns={'sentence_2':'sentence_1','sentence_1':'sentence_2'})

In [43]:
train_zero_e = pd.concat([train_zero,tmp])

In [44]:
train_zero_e.to_csv(path_or_buf=address+'train_zero_e.csv', index=False)

In [27]:
address = '/opt/ml/data/'
train_zero.to_csv(path_or_buf=address+'train_zero.csv', index=False)

In [28]:
dev_zero = dev[dev['binary-label']==0.0]
dev_zero

,id,source,sentence_1,sentence_2,label,binary-label
0,boostcamp-sts-v1-dev-000,nsmc-sampled,액션은개뿔 총몇번쏘고 끝입니다,액션은 흉내만 내고 그마저도 후반부에는 슬로우모션 처리,2.0,0.0
4,boostcamp-sts-v1-dev-004,slack-sampled,다음 밥스테이지가 기대됩니다~ ㅎ,다음 후기도 기대됩니다~~,1.4,0.0
5,boostcamp-sts-v1-dev-005,slack-rtt,사진 간지.. ㅋㅋ 축하드립니다,사진이 나왔어요..ㅋㅋㅋ 축하드립니다.,2.4,0.0
6,boostcamp-sts-v1-dev-006,nsmc-sampled,영화보면서 기분전환이 되었어요,영화 보는 내내 뭔가 모를 편안함을 느꼈어요,2.0,0.0
7,boostcamp-sts-v1-dev-007,slack-sampled,건강하게 자라기를!!,얼른 건강 회복하기를요!!!,1.2,0.0
...,...,...,...,...,...,...
543,boostcamp-sts-v1-dev-543,petition-sampled,국민청원제를 유료로 바꾸어야 합니다,종교법 매우 강력하게 바꾸어야합니다 ~ !,0.2,0.0
544,boostcamp-sts-v1-dev-544,slack-sampled,아직 입사 1주차인 제게 많은 도움이 되는 이야기들 해주셨습니다!!,많은 조언해주셔서 목표와 생각을 정리하는데도 큰 도움이되었습니다!!ㅎㅎ,2.0,0.0
545,boostcamp-sts-v1-dev-545,nsmc-sampled,"사회적 이슈를 다루고 있는 가슴 찡한 드라마네요,,,",정말 가슴을 따뜻하게 한 좋은 드라마...,2.0,0.0
547,boostcamp-sts-v1-dev-547,nsmc-sampled,내용이 뭔 내용인지도 모르겠음,무슨의미로 만들었는지 모르겠음..,2.4,0.0
549,boostcamp-sts-v1-dev-549,nsmc-rtt,다소 허접한 영상도 군데군데 있음.,엉뚱한 영상도 몇 개 있습니다.,2.2,0.0

In [29]:
dev_zero.to_csv(path_or_buf=address+'dev_zero.csv', index=False)

In [45]:
tmp = dev_zero[['id', 'source', 'sentence_2', 'sentence_1', 'label', 'binary-label']].rename(columns={'sentence_2':'sentence_1','sentence_1':'sentence_2'})
dev_zero_e = pd.concat([dev_zero,tmp])
dev_zero_e.to_csv(path_or_buf=address+'dev_zero_e.csv', index=False)

In [30]:
train_one = train[train['binary-label']==1.0]
train_one.to_csv(path_or_buf=address+'train_one.csv', index=False)

In [31]:
dev_one = dev[dev['binary-label']==1.0]
dev_one.to_csv(path_or_buf=address+'dev_one.csv', index=False)

# 데이터 2배

In [46]:
e_df = pd.read_csv('data/e_df.csv')
nof = pd.read_csv('data/nof.csv')
e_df_nof = pd.concat([e_df,nof])
e_df_nof.to_csv(path_or_buf=address+'e_df_nof.csv', index=False)